.footer{
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
  display: block;
}
//.footer-contents{}
.community-details{
  display: flex;
  justify-content: center;
}
.footer-link{
  margin-right: 20px;
  font-size: 12.8px;
  color: var(--c-text-secondary);
  text-decoration: none;
}