<div class='footer'>
  <div class='footer-contents'>
      <ul class='community-details'>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to '個人情報保護方針', "#", class: "footer-link" %></li>
        <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
      </ul>
  </div>
  <p>Genkido © 2020</p>
</div>