<%= render partial:'header' %>
<div class='main'>
  <div class='word-list'>

    <div id="home" class="big-bg">
      <div class="home-content">
        <h2 class="page-title">Let’s Make Your Hobby</h2>
        <p>新しい楽しみと健康を見つけてみませんか？体から心の中までリフレッシュ。</p>
      </div>
    </div>

<h2 class="title-content">- Event Category -</h2>
<h2>アウトドア</h2>
<h2>インドア</h2>
<h2>フード</h2>
<h2>ペット</h2>
<h2 class="title-content">- Release Events -</h2>
<h2 class="title-content">- Store location -</h2>
<h2>朝倉店</h2>
<h2>野市店</h2>
<h2>葛島店</h2>
<h2>イオン旭町店</h2>
<h2 class="title-content">- News -</h2>
<p><a href="https://www.e-hone.co.jp/">元気堂ホームページ</a></p>
<p><a href="https://ameblo.jp/tamesyugi/">元気堂＊事務局ブログ＊事務長と猫♪</a></p>
<p><a href="https://ameblo.jp/aiaruseitai/">高知の整体師育成＊I R整体学院</a></p>
  </div>
</div>
<%= render partial:'footer' %>