<%= render partial:'header' %>
<div class='main'>
<h2>Let’s Make Your Hobby</h2>
<h2>新しい楽しみと健康を見つけてみませんか？体から心の中までリフレッシュ。</h2>
<h2>- Event Category -</h2>
<h2>アウトドア</h2>
<h2>インドア</h2>
<h2>フード</h2>
<h2>ペット</h2>
<h2>- Release Events -</h2>
<h2>- Store location -</h2>
<h2>朝倉店</h2>
<h2>野市店</h2>
<h2>葛島店</h2>
<h2>イオン旭町店</h2>
<h2>- News -</h2>
<a href="https://www.e-hone.co.jp/">元気堂ホームページ</a>
</div>
<%= render partial:'footer' %>