<%= render partial:'header' %>
<div class='main'>
  <div class='word-list'>

    <div id="home" class="big-bg">
      <div class="home-content">
        <h2 class="page-title">Let’s Make Your Hobby</h2>
        <p>新しい楽しみと健康を見つけてみませんか？体から心の中までリフレッシュ。</p>
      </div>
    </div>

<h2 class="title-content">- Event Category -</h2>
<h2>アウトドア</h2>
<h2>インドア</h2>
<h2>フード</h2>
<h2>ペット</h2>
<h2 class="title-content">- Release Events -</h2>
<h2 class="title-content">- Store location -</h2>

<section id="location">
  <div class="wrapper">
    <div class="location-info">
      <h2 class="sub-title">朝倉店</h2>
        <p>
        住所：高知県高知市<br>
        朝倉東町52-15<br>
        フジグラン高知３Ｆ<br>
        ご予約専用ダイヤル：0120-184-040/088-850-0260<br>
        営業時間： 9:00~21:00<br>
        休日：不定休
        </p>
    </div>
    <div class="location-map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3325.4023856907643!2d133.49568841555885!3d33.54292018074761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354e1865d753403f%3A0xddd6817c17391b98!2z44OV44K444Kw44Op44Oz6auY55-l!5e0!3m2!1sja!2sjp!4v1608560265069!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>

<section id="location">
  <div class="wrapper">
    <div class="location-info">
      <h2 class="sub-title">野市店</h2>
        <p>
        住所：高知県香南市野市<br>
        町西野2007-1<br>
        フジグラン野市<br>
        ご予約専用ダイヤル：0120-184-599/0887-57-5256<br>
        営業時間： 10:00~21:00<br>
        休日：不定休
        </p>
    </div>
    <div class="location-map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.709573615503!2d133.6945160155594!3d33.560921380742485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354e02131dd9194b%3A0xd7c4e70cdeb3b557!2z44OV44K444Kw44Op44Oz6YeO5biC!5e0!3m2!1sja!2sjp!4v1608560348347!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>

<section id="location">
  <div class="wrapper">
    <div class="location-info">
      <h2 class="sub-title">葛島店</h2>
        <p>
        住所：高知県高知市<br>
        小倉町3-30<br>
        フジグラン2F<br>
        ご予約専用ダイヤル：0120-184-699／088-861-3213<br>
        営業時間： 10:00~21:00<br>
        休日：不定休
        </p>
    </div>
    <div class="location-map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.796572237809!2d133.56539481555944!3d33.55866138074326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354e1c06f9183675%3A0xe1bd2afb9d4d4e5!2z44CSNzgxLTA4MDEg6auY55-l55yM6auY55-l5biC5bCP5YCJ55S677yT4oiS77yT77yQIDJG!5e0!3m2!1sja!2sjp!4v1608560313546!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>

<section id="location">
  <div class="wrapper">
    <div class="location-info">
      <h2 class="sub-title">イオン旭店</h2>
        <p>
        住所：高知県高知市<br>
        旭町3－94<br>
        イオンモール1F<br>
        ご予約専用ダイヤル：0120-184-799／088-802-3326<br>
        営業時間： 10:00~21:00<br>
        休日：不定休
        </p>
    </div>
    <div class="location-map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.5306343580673!2d133.50480168632066!3d33.55661542804633!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x354e18ed7e6c3d7d%3A0x496c515b8928b969!2z44CSNzgwLTA5MzUg6auY55-l55yM6auY55-l5biC5pet55S677yT5LiB55uu77yZ77yUIDFG!5e0!3m2!1sja!2sjp!4v1608560108808!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>

<h2 class="title-content">- News -</h2>
<p><a href="https://www.e-hone.co.jp/">元気堂ホームページ</a></p>
<p><a href="https://ameblo.jp/tamesyugi/">元気堂＊事務局ブログ＊事務長と猫♪</a></p>
<p><a href="https://ameblo.jp/aiaruseitai/">高知の整体師育成＊I R整体学院</a></p>
  </div>
</div>
<%= render partial:'footer' %>